.app__footer {
  @include jagged($brand-red, 12, top, border);
//  height: $header-height;
  padding: $grid-gutter-width 0;
  position: relative;

  h3 {
    margin: 0 0 3rem;
  }

  ul {
    align-items: center;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;

    > li {
      margin-bottom: 30px;
      text-align: center;
      width: 100%;

      @include md {
        width: 50%;
      }
      
      @include lg {
        width: auto;
      }
    }
  }
}
