.app__header {
  @include jagged($brand-red, 12, bottom, border);
  //  height: $header-height;
  padding: $grid-gutter-width 0;
  position: relative;

  h1 {
    margin: 0;
  }

  .menu {
    margin-top: 2rem;

    .navbar-nav {
      margin: 0;

      > li {
        display: inline-block;

        &.active a {
          color: $brand-red;
          font-weight: bold;
        }

        > a {
          color: $text-color;
          padding: 0 1.5rem 0 0;

          &:hover,
          &:focus {
            background-color: transparent;
          }

          .glyphicon {
            margin-right: 5px;
          }
        }
      }
    }
  }
}
